build
dist
JavHelper/static/nv
node_modules
.idea
dist-python
__pycache__
test.py
.vscode
.ipynb_checkpoints
*.gz
yarn-error.log
yarn.lock
*.ipynb
*.pyc
settings.ini
115_cookies.json
*.DS_Store
jav_manager.db
run.spec
rewrite_his.sh
.spec
javlib_cf_cookies.json
dist-python.zip
jav_manager.sqlite