#main-javcard {
    min-width: 450px;
}

.jav-content {
    flex-direction: column;
}

.flex-container .rdt_Table {
    max-height: 250px;
    height: auto;
    overflow-y: auto;
}

.magnetTable div {
    background: transparent;
}

div.detail-image-button {
    padding: 0;
}

div.detail-image-section {
    margin-top: 15px;
}