.javConsole li {
    line-height: 1.1 !important;
    font-size: 18px !important;
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue' !important;
}

.javConsole span {
    line-height: 1.1 !important;
    font-size: 18px !important;
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue' !important;
}

.javConsole a {
    line-height: 1.1 !important;
    font-size: 18px !important;
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue' !important;
}

div.javConsole {
    position: fixed;
    width: 90%;
    z-index: 900;
}

div[id="consoleColumn"] {
    -webkit-transform: translateZ(0);
}

div.cgarle {
    margin: 0px;
}

div.javConsoleContainer {
    height: 260px;
}